.activities {
  padding: 60px 0 98px 0;

  &__title {
    margin-bottom: 57px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 26px;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  object-fit: cover;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  }
  &__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
  }
  &__title {
    max-width: 100%;
    margin-top: auto;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }
  &__button {
    padding: 7px 22px;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background-color: $primary;
    color: $white;
    cursor: pointer;
  }
}