.footer {
  background-color: $dark;
  color: $white;
  padding-top: 108px;
  padding-bottom: 46px;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(40px, min-content);
    align-items: start;
  }

  &__logo {
    width: 166px;
    grid-row: 1 / 3;
    align-self: stretch;
  }

  &__categories {
    grid-row: 1 / 4;
  }

  &__social {
    &-links {
      display: flex;
      align-items: center;
      min-width: 83px;
      justify-content: space-between;
    }

    &-network {
      display: flex;
      align-content: center;
      grid-row: 2 / 4;
      grid-column: span 2;
    }
  }

  &__contact {
    &-details {
      grid-column: span 2;
    }
    &-form {
      grid-column: span 2;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__title {
    margin: 0 0 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;

    &--inline {
      margin: 0 43px 0 0;
    }
    &--mb-3 {
      margin-bottom: 34px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: $footer-text-color;
    &--mb-2 {
      margin-bottom: 20px;
    }
  }
  &__icon {
    width: 20px;
    margin-right: 20px;
    &-wrapper {
      min-width: 40px;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__text {
    margin-bottom: 22px;
    color: $footer-text-color;
  }

  &__input {
    flex-basis: 48%;
    margin-bottom: 15px;
  }

  &__message {
    flex-basis: 100%;
    margin-bottom: 23px;
  }


  &__info {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  &__email {
    color: inherit;
    text-decoration: none;
  }

  &__address {
    font-style: normal;
  }
}