.hotel {
  padding-top: 23px;
  padding-bottom: 70px;

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__offer {
      margin-left: 14px;
      margin-top: 4px;
    }
    &__name {
      margin-top: 4px;
      margin-bottom: 0;
    }
    &__description {
      margin: 5px 0;
    }
  }

  &-name {
    font-size: 24px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-description {
    font-size: 12px;
    line-height: 15px;
  }
}

.stars {
  width: 100%;
}

.offer {
  padding: 4px 9px;
  border-radius: 3px;
  font-size: 10px;
  line-height: 13px;
  background-color: $primary;
  color: $white;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  border-radius: 4px;
  text-align: center;
  background-color: $primary;
  color: $white;
  &__text {
    font-size: 8px;
    line-height: 10px;
  }
  &__counter {
    font-size: 14px;
    line-height: 18px;
  }
}